<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<title>students list</title>
<link rel="stylesheet" type="text/css"
	href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" href="../static/css/myStyle.css"
	th:href="@{/css/myStyle.css}" />
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">

		<div class="navbar-collapse collapse">

			<ul class="nav navbar-nav">

				<li><a th:href="@{students}"> Home</a></li>
				<li><a th:href="@{students}"> students list </a></li>
				<li><a th:href="@{toStudentForm}"> add student </a></li>
			</ul>
		</div>
	</div>

	<div layout:fragment="content"></div>


</body>
</html>