<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<meta charset="UTF-8" />
<title>student form</title>
<link rel="stylesheet" type="text/css"
	href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" href="../static/css/myStyle.css"
	th:href="@{/css/myStyle.css}" />
</head>
<body>
	<div layout:fragment="content" class="spacer">
		<div class="container spacer">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-default">

					<div class="panel-heading">edit student</div>
					<div class="panel-body">

						<form th:action="@{updateStudent}" method="post"
							th:object="${studentEditModel}" enctype="multipart/form-data">
							<div class="form-group">
								<label class="control-label"> student ID:</label> <input
									type="text" th:field="*{id}" readonly="readonly"
									class="form-control" /> <span th:errors="*{id}"
									class="redColor"></span>
							</div>
							<div class="form-group">
								<label class="control-label"> name:</label> <input type="text"
									th:field="*{name}" class="form-control" /> <span
									th:errors="*{name}" class="redColor"></span>
							</div>
							<div class="form-group">
								<label class="control-label"> birth date:</label> <input
									type="date" th:field="*{birthDate}" class="form-control" /> <span
									th:errors="*{birthDate}" class="redColor"></span>
							</div>
							<div class="form-group">
								<label class="control-label"> email:</label> <input type="email"
									th:field="*{email}" class="form-control" /> <span
									th:errors="*{email}" class="redColor"></span>
							</div>
							<div class="form-group">
								<label class="control-label"> picture:</label> <input
									type="file" name="picture" class="form-control" /> <span
									th:errors="*{photo}" class="redColor"></span> <img
									th:src=" @{ getPhoto(studentId = ${studentEditModel.id} ) } "
									width="70" height="70" />
							</div>
							<div>
								<button type="submit" class=" btn btn-primary col-md-offset-5">save</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>