<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeLeaf/layout"
layout:decorator = "layout" >
<head>
<meta charset="UTF-8" />
<title>students list</title>
<link rel="stylesheet" type="text/css"
	href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" href="../static/css/myStyle.css"
	th:href="@{/css/myStyle.css}" />
</head>
<body>
<div layout:fragment="content" class="container">

	<div class="container spacer">
		<a th:href="@{toStudentForm}">add student</a>

	</div>

	<div class="container secondSpacer ">

		<form th:action="@{students}" method="get">

			<div class="form-group">
				<label> Key word: </label> <input type="text" name="keyWord"
					th:value="${keyWordModel}" />
				<button type="submit">find</button>

			</div>

		</form>

	</div>

	<div class="container secondSpacer ">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>birth date</th>
					<th>Email</th>
					<th>Photo</th>
				</tr>

			</thead>

			<tbody>
				<tr th:each="s:${studentsPageModel.content}">
					<td th:text="${s.id}"></td>
					<td th:text="${s.name}"></td>
					<td th:text="${s.birthDate}"></td>
					<td th:text="${s.email}"></td>
					<td><img th:src="@{getPhoto(studentId=${s.id})}" width="50"
						height="50" /></td>
					<td><a th:href="@{removeStudent(studentId= ${s.id} )}" onclick="return confirm('Are you sure to delete the student ?') ">Delete</a>
					</td>
					<td> <a th:href="@{toStudentEditForm(studentId=${s.id})}">Edit</a>  </td>
				</tr>

			</tbody>


		</table>
	</div>
	<div class="container">
		<ul class="nav nav-pills">
			<li th:each="p:${pagesModel}"
				th:class="${p==currentPageModel?'active':''}"><a th:text="${p}"
				th:href="@{/studentController/students(page=${p}, keyWord=${keyWordModel})}">
			</a></li>
		</ul>
	</div>
</div>
</body>
</html>